$task-gap: 0.6em;
$taskgroup-gap: 0.5em;
$task-padding: 0.6em;
$checkbox-size: 1em;
$checkmark-size: 0.75em;
$transition-speed-fast: var(--_tspeed_fast);
$border-radius: var(--_radius);
$font-size: var(--_size);

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $task-gap;
  font-size: $font-size;
  border: 0.2em solid hsl(var(--muted) / 0.8);
  padding: $task-padding;
  border-radius: calc($border-radius * 2);
}

.task-group {
  display: flex;
  align-items: center;
  gap: $taskgroup-gap;
}

.label {
  position: relative;
  cursor: pointer;
  text-align: left;
  line-height: 1.4;
}

.checkbox {
  flex-shrink: 0;
  appearance: none;
  border-radius: $border-radius;
  width: $checkbox-size;
  height: $checkbox-size;
  background-color: hsl(var(--muted));
  border-radius: $border-radius;
  box-shadow: 0 0 0.5em hsl(var(--accent) / 0.1),
    0 0 0 0.05em hsl(var(--accent) / 0.5), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow $transition-speed-fast ease-in-out,
    background-color 80ms ease-in-out;

  &:focus {
    outline: none;
  }

  &:is(:focus-visible, :hover) {
    box-shadow: 0 0 0 hsl(var(--bg)), 0 0 0 0.05em hsl(var(--accent)),
      0 0 0 0.225em hsl(var(--accent) / 0.3);
  }

  &:checked {
    background-color: hsl(var(--accent));

    + label {
      text-decoration: line-through;
    }
  }
}

.checkmark {
  content: "";
  position: absolute;
  width: $checkbox-size;
  height: $checkbox-size;
  display: grid;
  place-items: center;
  top: 50%;
  color: hsl(var(--muted));
  border-radius: $border-radius;
  transform: translate3d(calc(-100% - $taskgroup-gap), -50%, 0);
  transition: background-color 80ms ease-in-out;

  svg {
    width: $checkmark-size;
    height: $checkmark-size;
  }
}

.delete {
  --accent: var(--accent1);
}

.loading {
  color: hsl(var(--accent));
  font-size: $font-size;
  font-weight: bold;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.error {
  color: hsl(var(--accent1));
  font-size: $font-size;
  text-align: center;
}
